
/*  ================================ 
    Webtechniken lernen 2: CSS-Grundlagen 
    Stylesheet für die Übungswebsite 
    
    Abschnitte im Stylesheet: 
    1. Basiseinstellungen 
    2. Layoutbereiche gestalten (Header)  
    3. Navigation (und Footer)  
    4. Inhalte gestalten  
    5. Formulare gestalten  
*/

/* Basiseinstellungen */



/* Seiteninterne Links sollen sanft gleiten  */
html {
    scroll-behavior: smooth;
}


/* Grundlegende Gestaltung der Navigation */
.site-nav, 
.site-footer {
    background-color: black;
    color: white;
    padding: 0.5rem;
    margin: 1rem 0;
}

.site-nav ul {
    padding: 0;
    margin: 0;
}

.site-nav li {
    display: inline;
    margin-right: 0.5rem;
}

.site-nav a, 
.site-footer a {
    color: white;
    text-decoration: none;
}

.site-nav .current {
    /* text-decoration: underline; */
    border-bottom: 1px solid white;
}


.site-footer {
    text-align: right;
}



.site-header h1 {
    margin-bottom: 0;
}

.site-header p {
    margin-top: 0;
}

.infoboxen {
    background-color: whitesmoke;
    padding: 1rem;
    margin-bottom: 1rem;
}

.infobox {
    text-align: center;
    background-color: white;
    padding: 1rem;
    margin: 1rem;
}

.testemonials-intro, h2{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.testemonials-intro, p {
    margin-bottom: 0.5rem;
}

.testemonials {
    background-color: whitesmoke;
    padding: 1rem;
    border-left: 5px solid steelblue;
    margin: 0;
    border-left: 5px solid steelblue;
}

.testemonials, blockquote {
    margin: 0;
}

.mitglieder {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mitglied {
    background-color: whitesmoke;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

label {display: block;}
form div {margin-bottom: 1rem;}

button {
    background-color: steelblue;
    color: white;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
}

address {
    font-style: normal;
}

