/**
  * 1. Basiseinstellungen 
  */ 

/* Border-Box Modell aktivieren */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Seiteninterne Links sollen sanft gleiten  */
html {
    scroll-behavior: smooth;
    background-color: #eee;
}

body {
    max-width: 600px;
    min-width: 320px;
    background-color: white;

    font-family: system-ui, -apple-system, "Segoe UI", Roboto, 
                 "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;  
    margin: 1rem auto;      
}




/* Schriftgrößen für die Überschriften, etwas größer als im Browser-Stylesheet */
h1 { font-size: 2.5rem; font-weight: 500;}
h2 { font-size: 2rem; font-weight: 500;}
h3 { font-size: 1.75rem; font-weight: 500;}
h4 { font-size: 1.5rem; font-weight: 500;} 
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

/* collapsing margins vermeiden */

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin-top: 0;
}

/* Einrückung von figure und blockquote entfernen */
figure, blockquote {
    margin: 0; 
}

/* Boxen am Bildschirm ausblenden */
.visually-hidden {
    position: absolute !important;
    clip: rect(0,0,0,0) !important;
    overflow: hidden !important;
    
    width: 1px !important;
    white-space: nowrap !important;
    height: 1px !important;

    padding: 0 !important;
    border: 0 !important;
    margin: -1 !important;
}